{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block content %}
<div class="d-flex justify-content-between border-top pt-3">
    <h1>Home</h1>
  </div>
    <p>
        Hello, I am John Rey J. Silverio, a third-year BSIT student at Holy Cross of Davao College and the developer of this simple article website. This website will display the list of articles, content lists, and tag lists. Most functions are not usable for now, but I will finish them.
        <!-- Add more information about yourself here -->
    </p>

    <!-- Your Information -->
    <p>
        <a href="mailto:johnrey.silveio@hcdc.edu.ph">
            <i class="fa-solid fa-envelope"></i>
            Gmail
        </a>
    </br>
        <a href="https://github.com/JRSilverio" target="_blank">
            <i class="fa-brands fa-github"></i>
            Github
        </a>
    </br>
        <a href="https://www.facebook.com/profile.php?id=100092476714820" target="_blank">
            <i class="fa-brands fa-facebook"></i>
            Facebook
        </a>
    </p>
{% endblock %}
